<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Список сотрудников</title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>
<h:body>
    <h:form>
        <h1><h:outputText styleClass="title" value="Список сотрудников"/></h1>

        <table>
                <tr><td>

        <h:dataTable value="#{memberBean.memberList}" var="m"
                     styleClass="authorTable"
                     headerClass="authorTableHeader"
                     rowClasses="authorTableOddRow,authorTableEvenRow">
            <h:column>
                <f:facet name="header">id</f:facet>
                #{m.id}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{m.name}
            </h:column>
            <h:column>
                <f:facet name="header">surname</f:facet>
                #{m.surname}
            </h:column>
            <h:column>
                <f:facet name="header">rate</f:facet>
                #{m.rate}
            </h:column>

            <!--<h:column>-->
                <!--<f:facet name="header">cid</f:facet>-->
                <!--#{m.cid}-->
            <!--</h:column>-->
            <!--<h:column>-->
                <!--<f:facet name="header">mid</f:facet>-->
                <!--#{m.mid}-->
            <!--</h:column>-->
            <!--<h:column>-->
                <!--<f:facet name="header">current_month</f:facet>-->
                <!--#{m.current_month}-->
            <!--</h:column>-->
            <h:column>
                <f:facet name="header">wtime</f:facet>
                #{m.wtime}
            </h:column>
            <h:column>
                <f:facet name="header">salary</f:facet>
                #{m.salary}
            </h:column>
            <h:column>
                <f:facet name="header">Action</f:facet>
                <h:commandLink value="Delete" action="#{memberBean.deleteAction(m)}" />
            </h:column>
        </h:dataTable>
                    </td>
                    <td></td>
                    <td>
                        <p>Добавить время сотруднику</p>
                        <table>
                            <tr><td>Id сотрудника :</td>
                                <td>
                                    <h:inputText value="#{memberBean.cid}" title="id сотрудника"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Сколько часов (wtime) :</td>
                                <td>
                                    <h:inputText value="#{memberBean.wtime}" title="Оплата в час"/>
                                </td>
                            </tr>
                            <tr><td>
                                    <h:commandButton value="Добавить" action="#{memberBean.timeAdd}" />
                                <p>(Поле часов - не более 3 цифр)</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
        </table>

        <hr/>
        <p>Добавить сотрудника</p>
        <table>
            <tr>
                <td>Имя :</td>
                <td><h:inputText value="#{memberBean.name}" title="Имя сотрудника"/></td>
            </tr>
            <tr>
                <td>Фамилия :</td>
                <td><h:inputText value="#{memberBean.surname}" title="Фамилия сотрудника"/></td>
            </tr>
            <tr>
                <td>Оплата/час :</td>
                <td><h:inputText value="#{memberBean.rate}" title="Оплата в час"/></td>
            </tr>
        </table>
        <h:commandButton value="Добавить" action="#{memberBean.addAction}" />
    </h:form>
</h:body>
</html>

